<%= javascript_packs_with_chunks_tag 'success', 'application' %>
<%= stylesheet_packs_with_chunks_tag 'success', 'application' %>

<div id='params' data-booking-id=<%= @booking_id.to_json %> style='display: none'></div>